body {
    background-color: #fafafa;
    padding: 0 5rem 0 5rem;
    margin: 0;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    width: 100%;
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bg-gray {
    background-color: #b9b9b9;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.tall-20 {
    min-height: 20rem;
}

.stick-bottom {
    bottom: 0;
}

footer {
    margin-top: auto;
}

.table {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid #898989;
    border-spacing: 0;
    empty-cells: show;
}

.table,
table {
    border-collapse: collapse;
}

.table th {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #898989;
}

.table td {
    border: 1px solid #898989;
}

table {
    margin-bottom: var(--ifm-spacing-vertical);
    display: table;
    width: auto;
}